body {background-color: white;
margin-right: 0px;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 30px;
font-family: arial, sans-serif;}

footer {
color: navy;
font-style: italics;
}

h1   {
color: navy;
margin-top: 0px;
margin-bottom: -10px;}

h2    {
color: navy;
margin-top: 10px;
margin-bottom: 5px;}

h3    {
color: #087ca7;
margin-top: 10px;
margin-bottom: 5px;}

em      {
color: navy;
font-style: normal;}

em.banner   {
color: #d30017;
font-style: normal;}

em.new      {
color: #d30017;
font-style: normal;
font-size: 1.4em;
text-shadow: 1px 1px navy;}


a.language:link, a.language:visited {
  color: navy;
  text-decoration: none;
}

li {
padding-bottom : 15px;
}

a.page:link, a.page:visited {
  color: white;
  text-decoration: none;
}

a.language:hover {
  color: #d30017;
  text-decoration: none;
}

a.page:hover {
  color: #d30017;
  text-decoration: none;
}

a:link, a:visited{
  color: navy;
  text-decoration: none;
}

a:hover {
  color: #d30017;
  text-decoration: none;
}

table.header {
  width: 100%
}

table.header td:nth-child(1) {
  width: 50%;
}

table.header td:nth-child(2) {
  width: 50%;
  text-align: right;
}

table.band {
  padding-top: 17px;
  width: 60%;
  text-align: center;
  color: white;
}

table.band td:nth-child(1) {
  width: 15%;
}

table.band td:nth-child(2) {
  width: 5%;
}

table.band td:nth-child(3) {
  width: 15%;
}

table.band td:nth-child(4) {
  width: 5%;
}

table.band td:nth-child(5) {
  width: 15%;
}

table.band td:nth-child(6) {
  width: 5%;
}

table.band td:nth-child(7) {
  width: 15%;
}

table.band td:nth-child(8) {
  width: 5%;
}

table.band td:nth-child(9) {
  width: 15%;
}

table.twocol td{
  padding: 5%}

table.twocol td:nth-child(1) {
  width: 35%;
}

table.twocol td:nth-child(2) {
  width: 65%;
}